# Python
__pycache__/
*.pyc
backend/venv/
backend/db.sqlite3
backend/.env
backend/staticfiles/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# OS / editors
.DS_Store
*.swp

# Docker
postgres-data/
